.All-Pages {
    background: linear-gradient(to bottom, #33ccff 0%, #ff33cc 100%);
   
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }